:root {
    --burger-line-color: #000;
    --drawer-bg: #fff;
    --drawer-link-color: #333;
    --drawer-shadow: 2px 0 20px rgba(0, 0, 0, 0.15);
    --overlay-bg: rgba(0, 0, 0, 0.4);
}

[data-theme="dark"] {
    --burger-line-color: #fff;

    --drawer-bg: #1e1e1e;
    --drawer-link-color: #f0f0f0;
    --drawer-shadow: 2px 0 24px rgba(0, 0, 0, 0.6);

    --overlay-bg: rgba(0, 0, 0, 0.65);
}

toggle-drawer {
    position: relative;
}

.burger {
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.burger span,
.burger span::before,
.burger span::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--burger-line-color);
    content: "";
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger span {
    top: 50%;
    transform: translateY(-50%);
}

.burger span::before {
    top: -10px;
}

.burger span::after {
    top: 10px;
}

/* drawer */
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: var(--drawer-bg);
    box-shadow: var(--drawer-shadow);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.drawer ul {
    list-style: none;
    padding: 80px 24px;
}

.drawer li+li {
    margin-top: 16px;
}

.drawer a {
    text-decoration: none;
    color: var(--drawer-link-color);
    font-size: 18px;
}

.drawer__overlay.--opened {
    opacity: 1;
    display: block;
}

.drawer__overlay {
    display: none;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity .3s ease;
}

/* OPEN STATE (JS) */
.drawer.is-open {
    transform: translateX(0);
}

.drawer__overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.burger.is-open span {
    height: 0;
}

.burger.is-open span::before {
    transform: translateY(10px) rotate(45deg);
}

.burger.is-open span::after {
    transform: translateY(-10px) rotate(-45deg);
}